:root {
  --color-primaryBackGround: hsl(236, 72%, 79%);
  --color-primaryLinearGradient: Linear(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --color-lighterGB: hsl(240, 78%, 98%);
  --color-lightGB: hsl(234, 14%, 74%);
  --color-grayishblue: hsl(233, 13%, 49%);
  --color-darkGB: hsl(232, 13%, 33%)
; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 62.5%; }

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-lighterGB); }

.bkgd {
  position: relative; }
  .bkgd__top {
    position: absolute;
    top: 0;
    right: 0; }
  .bkgd__bottom {
    position: absolute;
    top: 44rem;
    left: 0; }
