body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-lighterGB);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bkgd{

    &__top{        
        position: absolute;
        top: 0;
        right: 0;


                
        @include respond(phone){
            top: 0;
            right: -12rem;
        }
        
        @include respond(small-phone){
            top: -5.2rem;
            right: -11rem;

        }
    }
    
    &__bottom{
        position: absolute;
        top: 44rem;
        left: 0;

        
        @include respond(tab-land){
            top: 93rem;
            left: 0;            
        }
        
        
    }
}


.container{
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(small-phone){
        max-width: 100%;
    }
}

.heading__box{
    margin: 2rem 0 2rem 0;
}

.toggle{
    margin-bottom: 2rem;

    @include respond(big-desktop){
        margin-bottom: 5rem ;
    }
}




