body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-lighterGB);
}

.bkgd{
    position: relative;

    &__top{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    &__bottom{
        position: absolute;
        top: 44rem;
        left: 0;
    }


}