# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules
.history

# Ignore all text files
*.txt

# Ignore files related to API keys
.envsta

# Ignore SASS config files
.sass-cache