.btn{
    &,
    &:link,
    &:visited{
        padding: .5rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 3rem 2.3rem;
        font-size: .9rem;
        border-radius: .3rem;

        height: 2rem;
         //change for he <button> element
         border:none;
         cursor: pointer;
    }

    &--white{
        background-color: var(--color-lighterGB);
        color: var(--color-primaryBackGround);
    }

    &--color{
        background-image: var(--color-primaryLinearGradient);
        color: white;
    }
}

