.cards{     
    display: flex;
    justify-content: center;
    align-items: center;



    &__card{
       width: 24rem;
    //    height: 29rem;
       background-color: var(--color-white);  
       border-radius: 1rem;
       box-shadow: 0 .2rem 3rem rgba(179, 181, 198,.3);

       z-index: 1000;


       &--2{
           height: 36rem;
           background-image: var(--color-primaryLinearGradient);
       }
    }

    &__cardList{
        width: 100%;

        ul{
           margin: 0;
           padding: 0;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-wrap: wrap;
           list-style: none;
           margin: 0 auto;          
       }

       
       li{
           width: 80%;
           align-self: center;
           text-align: center;
           padding: 1rem 0;
           border-bottom: 1px solid var(--color-lightGB);

           &:first-child{
            border-top: 1px solid var(--color-lightGB);
        }
       }
       
       ul > li.two{
        border-bottom: 1px solid var(--color-lighterGB);
      
        &:first-child{
         border-top: 1px solid var(--color-lighterGB);
     }
    }

}
}