.toggle{
    display: inline-flex;
    align-items: center;

    &__input{
        display: none;
    }

    &__switch{
        cursor: pointer;
        align-self: flex-start;
    }

    &__slider{
        width: 3.5rem;
        height: 2rem;
        background-image: var(--color-primaryLinearGradient);
        border-radius: 1rem;
        display: inline-flex;  

        &::after{
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            background-color: var(--color-lighterGB);
            margin-top: 3.5px;
            margin-left: 3px;
            transition: all .3s;
        }
    }


    &__input:checked ~ &__switch &__slider::after{
        transform: translateX(1.5rem);

    }
}