
:root{
    --color-primaryBackGround : hsl(236, 72%, 79%);
    --color-secondaryBackGround : hsl(237, 63%, 64%);
    --color-primaryLinearGradient : linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --color-lighterGB: hsl(240, 78%, 98%);
    --color-lightGB: hsl(234, 14%, 74%);
    --color-grayishblue: hsl(233, 13%, 49%);
    --color-darkGB: hsl(232, 13%, 33%);
    --color-white: hsl(0, 100%, 100%)
}

v
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-size: 62.5%; // 1 rem = 10px;     
}